#num1
{
    background-color: black;
    color: gold;
}

#num2
{
    background-color: black;
    color: gold;
}

body
{
    background-color:deeppink;
}

#output
{
    background-color: indigo;
    color: ivory;
}

#input_check_box
{
    color: black;
}